sudo: false
language: node_js
node_js:
  - '8.9.4'
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: false
branches:
  only:
    - master
  except:
    - /^v\d+\.\d+\.\d+$/
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.3.2
  - export PATH=$HOME/.yarn/bin:$PATH

install: yarn install --frozen-lockfile

script:
  - yarn ci:script
after_success:
  - yarn ci:after