@import '~@angular/material/theming';

.editor-container {
  height: 100%;
  background-color: mat-color($mat-grey, A200, 0.45);
}

.editor-content {
  display: flex;
  flex-direction: row;
}

.editor-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.editor-box {
  height: 100%;
  overflow-y: hidden;
  resize: none;
  border: none;
  padding: 10px;
  margin: 15px;
  background-color: #fff;
}

.config-btn {
  position: fixed;
  bottom: 10%;
  margin-left: 1%;
}
