<div class="app-container">
  <mat-toolbar class="app-header" color="primary">
    <a aria-label="Angular Showdown" class="header-title" href="/" mat-button>
      <img alt="ngx-showdown" class="title-logo" src="assets/logo.png"/>
      <span class="title-text">
        <span>how</span>
        <span class="title-text-end">down</span>
      </span>
    </a>
    <div class="header-space"></div>
    <a aria-label="Documentation" href="docs/index.html" mat-button target="_blank"><i class="fas fa-file-alt"></i> Docs</a>
    <a aria-label="GitHub Repository" href="https://github.com/yisraelx/ngx-showdown" mat-button target="_blank"><i
      class="fab fa-github"></i> Github</a>
  </mat-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>
