.app-title {
    width: 100%;
    text-align: center;
}

md-sidenav {
    width: 30%;
    text-align: center;
}

.page {
    height: calc(90%);
}

.content {
    display: flex;
    height: 100%;
}

md, textarea {
    height: 100%;
    overflow-y: scroll;
    border: none;
    padding: 10px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 1rem;
}